{% extends 'extends/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <article>
        <h3>Login</h3>
        <form action="{% url 'login' %}" method="post">
            <fieldset>
                <legend>Enter log in details
                    {% if form.errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto">Form Error</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                        aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                <p>Username & Password don't match. Try again, partner!!</p>
                            </div>
                        </div>
                    {% else %}
                        <p class="text-primary">Better clock in there, partner...</p>
                    {% endif %}
                </legend>
                {% csrf_token %}
                {{ form | crispy }}
                <input type="hidden" name="next" value="{{ next }}">
                <input class="btn btn-success" type="submit" value="Login">
            </fieldset>
        </form>
    </article>


{% endblock %}
