{% extends 'extends/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <article>
        <h3>Content information:</h3>
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>
                    {% if object %}
                        Edit content for: <strong><em>{{ object.title }}</em></strong>
                    {% else %}
                       New Content:
                    {% endif %}
                </legend>
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-success" type="submit" value="Save">
            </fieldset>
        </form>
    </article>
{% endblock %}

