{% extends 'extends/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <article>
        <h3>Edit: <strong><em>{{ course.title }}</em></strong></h3>
        <form method="post">
            <fieldset>
                <legend>
                    Course modules:
                </legend>
                {% csrf_token %}
                {{ formset | crispy }}
                {{ formset.management_form }}
                <input class="btn btn-success" type="submit" value="Save">
            </fieldset>
        </form>
    </article>
{% endblock %}